Repository mehran-shabani/Writers, changes with the labels that .github/labeler.yml gives for each.
All labels: service: asr, service: nlp, service: backend, service: frontend, service: worker, infrastructure, documentation, tests, dependencies, ci/cd, configuration

.github/labeler.yml:

# Auto-label PRs based on file paths changed

'service: asr':
  - services/asr/**/*

'service: nlp':
  - services/nlp/**/*

'service: backend':
  - backend/**/*

'service: frontend':
  - frontend/**/*

'service: worker':
  - worker/**/*

'infrastructure':
  - infrastructure/**/*
  - docker-compose*.yml
  - Dockerfile
  - .dockerignore

'documentation':
  - '**/*.md'
  - docs/**/*

'tests':
  - '**/*test*'
  - '**/*spec*'
  - '**/tests/**/*'
  - '**/__tests__/**/*'

'dependencies':
  - '**/package.json'
  - '**/package-lock.json'
  - '**/requirements.txt'
  - '**/Pipfile'
  - '**/Pipfile.lock'

'ci/cd':
  - .github/**/*
  - .husky/**/*
  - commitlint.config.js
  - .releaserc.js

'configuration':
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/tsconfig.json'
  - '**/alembic.ini'
  - '**/pytest.ini'
  - '**/jest.config.js'

Add GitHub Codespaces devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Labels: documentation

Create result file for processed tasks
  backend/app/tasks.py
  backend/tests/test_process_task_file.py
Labels: service: backend, tests

Fix auth proxy to forward multiple cookies
  frontend/__tests__/api/proxy.test.ts
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/logout/route.ts
  frontend/app/api/auth/register/route.ts
Labels: service: frontend, tests

Fix CI builds and backend auth hashing
  backend/Dockerfile
  backend/requirements.txt
  frontend/Dockerfile
  worker/Dockerfile
  worker/entrypoint.sh
Labels: service: backend, service: frontend, service: worker, dependencies

chore: add repository tooling lockfile for ci
  .github/workflows/pr-validation.yml
  .gitignore
  package-lock.json
  package.json
Labels: dependencies, ci/cd

Fix bcrypt pin and worker Docker context
  backend/requirements.txt
  worker/Dockerfile
Labels: service: backend, service: worker, dependencies

Update worker/Dockerfile
  worker/Dockerfile
Labels: service: worker

Harden service Dockerfiles
  backend/Dockerfile
  frontend/Dockerfile
  worker/Dockerfile
Labels: service: backend, service: frontend, service: worker
